.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 99vw;
    height: 99vh;
}
.grid-item-1{
    display: flex;
    flex-direction: column;
    border-right: 2px solid whitesmoke;
}
.grid-item-1 button{
    height: 7vh;
    border: none;
    background-color: #0d2261;
    color:whitesmoke;
    font-size: 2.5vh;
    transition: background-color 0.1s ease-in-out;
}
.grid-item-1 button:hover{
    background-color: wheat;
}


