{% extends "dashboard.html" %}

{% block anlay_head %}
    <link rel="stylesheet" href="../static/aboutus.css"/>
{% endblock %}

{% block dashboard_content %}
    <div class="aboutUsDiv">
        <div class="fade"></div>

        <section class="star-wars">

            <div class="crawl">

                <div class="title">
                <p>Episode IV</p>
                <h1>A New Hope</h1>
                </div>
                
                <p>It is a period of civil war. Rebel spaceships, striking from a hidden base, have won their first victory against the evil Galactic Empire.</p>
                <div style="display: flex; justify-content: left;">
                    <img src="../static/NansA.jpeg" alt="No image sorry" style="width: 35vw;">      
                </div>
                <p>During the battle, Rebel spies managed to steal secret plans to the Empire’s ultimate weapon, the DEATH STAR, an armored space station with enough power to destroy an entire planet.</p>
                <div style="display: flex; justify-content: right;">
                    <img src="../static/jojoandme.jpeg" alt="No image sorry" style="width: 25vw;">
                </div>
                <p>Pursued by the Empire’s sinister agents, Princess Leia races home aboard her starship, custodian of the stolen plans that can save her people and restore freedom to the galaxy…</p>
                <div style="display: flex; justify-content: left;">
                    <img src="../static/winandrak.jpeg" alt="No image sorry" style="width: 25vw;">
                </div>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                <div style="display: flex; justify-content: right;">
                    <img src="../static/incognito.jpeg" alt="No image sorry" style="width: 25vw;">
                </div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                <div style="display: flex; justify-content: right;">
                    <img src="../static/joRak.jpeg" alt="No image sorry" style="width: 25vw;">
                </div>
            </div>

        </section>
    </div>
{% endblock %}