{% extends "dashboard.html" %}

{% block anlay_head %}
    <link rel="stylesheet" href="../static/aboutus.css"/>
{% endblock %}

{% block dashboard_content %}
    <div class="aboutUsDiv">
        <div class="fade"></div>

        <section class="star-wars">

            <div class="crawl">

                <div class="title">
                <p>Fit Happens!</p>
                </div>
                
                <p>When a group of 4 good looking teenagers decide to do something with their lives.</p>
                <div style="display: flex; justify-content: left;">
                    <img src="../static/NansA.jpeg" alt="No image sorry" style="width: 35vw;">      
                </div>
                <p>They bring to the table their passion for working with one another.</p>
                <div style="display: flex; justify-content: right;">
                    <img src="../static/jojoandme.jpeg" alt="No image sorry" style="width: 25vw;">
                </div>
                <p>Using their big-brains to solve a modern day problem, finding motivation to work out.</p>
                <div style="display: flex; justify-content: left;">
                    <img src="../static/winandrak.jpeg" alt="No image sorry" style="width: 25vw;">
                </div>
                <p>They come up with ways to save their friends from boredom.</p>
                <div style="display: flex; justify-content: right;">
                    <img src="../static/incognito.jpeg" alt="No image sorry" style="width: 25vw;">
                </div>
                <p>Together creating this masterpiece a blessing for all of humanity.</p>
                <div style="display: flex; justify-content: left;">
                    <img src="../static/joRak.jpeg" alt="No image sorry" style="width: 25vw;">
                </div>
                <div class="title">
                    <p>~Team</p>
                </div>
            </div>

        </section>
    </div>
{% endblock %}