{% extends "dashboard.html" %}

{% block anlay_head %}
    <link rel="stylesheet" href="../static/analysis.css">
{% endblock %}


{% block dashboard_content %}
    <div class="anal-container">
        <div class="g1">
            <div>Current Run</div>
            <img src="data:image/png;base64,{{ some_value[0] }}" alt="Pie Chart">
        </div>
        <div class="g2">
            <div>Average</div>
            <img src="data:image/png;base64,{{ some_value[1] }}" alt="Pie Chart">
            <div>{{some_value[3]}}</div>
        </div>
        <div class="g3">
        </div>
        <div class="g4"></div>
    </div>
{% endblock %}