{% extends "dashboard.html" %}

{% block anlay_head %}
    <link rel="stylesheet" href="../static/analysis.css">
{% endblock %}


{% block dashboard_content %}
    <div class="anal-container">
        <div class="g1">
            <div>Current Run</div>
            <img src="data:image/png;base64,{{ some_value[0] }}" alt="Pie Chart">
            <div>{{some_value[5]}}</div>
        </div>
        <div class="g2">
            <div>Average</div>
            <img src="data:image/png;base64,{{ some_value[1] }}" alt="Pie Chart">
            <div>{{some_value[4]}}</div>
        </div>
        <div class="g3">
            <img src="data:image/png;base64,{{ some_value[2] }}" alt="Pie Chart" style="width: 34vw; height: 20vw;">
        </div>
        <div class="g4">
            <img src="data:image/png;base64,{{ some_value[3] }}" alt="Pie Chart" style="width: 34vw; height: 20vw;">
        </div>
    </div>
{% endblock %}