{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block head %}
    <link rel="stylesheet" href="../static/home.css">
{% endblock %}

{% block content %}
    <div class="grid-container">
        <div class="grid-item-1">
            <div class="title">
                <h1>F<span style="color: #ffec01;">i</span>t Happ<span style="color: #ffec01;">e</span>ns</h1>
                <p class="desc">In a small, tranquil village nestled between rolling hills, the morning sun casts a golden hue over the dewy fields. Birds chirp melodiously as the villagers begin their day, tending to their gardens and animals. The scent of fresh bread wafts through the air from the local bakery, where the baker smiles warmly at every passerby. Children laugh and play near the stream that winds through the village, its crystal-clear waters reflecting the vibrant colors of wildflowers along the banks. Life here moves at a gentle pace, untouched by the rush of the outside world.</p>
            </div>
        </div>  
        <div class="grid-item">
            <img src="../static/output_image-removebg-preview.png" alt="">
        </div>
        <div class="grid-item-3">
                <form action="/login" method="post" class="form-container">
                    <h2>Play now!</h2>  
                    <div>
                        <input type="text" name="username" placeholder="Username: " required>
                    </div>
                    <div>
                        <input type="password" name="password" id="password" placeholder="Password: " required>
                    </div>
                    <button type="submit" class="submit-btn">Login</button>
                    {% if error_message %}
                        <div class="error">{{error_message}}</div>
                    {% endif %}
                </form>
        </div>
    </div>
{% endblock %}